@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lily+Script+One&display=swap');
@import "../../style.scss";

.not-admin-page{
    display: flex;
    flex-direction: column;
    padding: 60px;
    text-align: center;
    align-items: center;
    gap: 30px;
    .notification{
        font-size: 36px;
    }

    .back-container{
        width: 80px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: #B26457;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 20px 30px;
        cursor: pointer;
    }

    .back-container:hover{
        filter: brightness(90%);
    }

    
    .back-container:active{
        filter: brightness(80%);
    }    
}

.admin-page {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    height: 100%;
    min-height: 1000px;
    
    background-color: #f6f3f3;

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 999;
        padding: 10px 20px;

        .left {
            .logo {
                span {
                    font-family: 'Lily Script One', sans-serif;
                    color: #B26457;
                    font-weight: bold;
                    font-size: 30px;
                }
            }
        }

        .middle {
            .datetime {
                font-family: 'Lily Script One', sans-serif;
                font-size: 26px;
                font-weight: bold;
            }
        }
    }

    .list-user {
        display: flex;
        flex-direction: column;
        padding: 
        50px 300px 100px 300px;
        gap: 20px;

    }

}