.user-element {
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        .user-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .user-name{
            font-size: 24px;
        }
    }
    .assign-moderator-button{
        background-color: #B26457;;
        color: white;
        border-radius: 16px;
        padding: 16px 12px;
        border: none;
        cursor: pointer;
    }

    .delete-moderator-button{
        background-color: gray;
        color: white;
        border-radius: 16px;
        padding: 16px 12px;
        border: none;
        cursor: pointer;
    }

    button:hover{
        filter: brightness(90%);
    }

    button:active{
        filter:brightness(80%);
    }

}