<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts List</title>
  </head>
  <body>
    <h1>Posts</h1>
    <ul>
      <% for (let i = 0; i < posts.length; i++) { %>
      <li><%= posts[i].content %>: <%= posts[i].postId %></li>
      <% post.images.forEach(image => { %>
      <img src="data:image/png;base64,<%= image.toString('base64') %>" />
      <% }) %> <% } %>
    </ul>
  </body>
</html>
