@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lily+Script+One&display=swap');
@import "../../style.scss";

.moderator-page{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #f6f3f3;
    
    .list-post{
        display: flex;
        flex-direction: column;
        .post{
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
            border-radius: 20px;
            background-color: white;
            color: black;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            padding: 30px 40px;
            gap: 0;
            margin: 30px 100px;
            .top-part{
                display: flex;
                flex-direction: row;
                align-items: center;
                .profile-picture{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .post-info{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    gap: 5px;
                }
            }

            .middle-part{
                margin-top: 15px;
                .content{
                    font-size: 20px;
                }
                .picture-list{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap:5px;
                    padding: 10px;
                    margin-top: 15px;
                    .picture{
                        width: 100%;
                        height: 100%;
                    
                    }
                }
            }

            .bottom-part{
                margin-top: 10px;
                display: flex;
                justify-content: end;
                gap: 10px;
                .accept-btn{
                    border-radius: 6px;
                    border: none;
                    padding: 10px 20px;
                    background-color: green;
                    font-size: 20px;
                    color: white;
                    cursor: pointer;
                }
                
                .reject-btn{
                    border-radius: 6px;
                    border: none;
                    padding: 10px 20px;
                    background-color: red;
                    font-size: 20px;
                    color: white;
                }

                .accept-btn:hover, .reject-btn:hover{
                    filter:brightness(90%);
                }

                .accept-btn:active, .reject-btn:active{
                    filter: brightness(80%);
                }
            }
        }
    }

}
