@import "../../style.scss";

.post{
    @include themify($themes){
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
        border-radius: 20px;
        background-color: themed('bg');
        color: themed("textColor");
        margin-top: 20px;
        .container{
            padding: 20px;

            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .userInfo{
                    display: flex;
                    gap: 20px;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details{
                        display: flex;
                        flex-direction: column;

                        .name{
                            font-weight: 500;
                        }

                        .date{
                            font-size: 12px;
                        }

                    }
                }

                .extra-functions{
                    display: flex;
                    .dropdown{
                        .post-dropdown{
                            margin-top: 30px;
                            margin-left: -120px;
                            position: absolute;
                            .list-item{
                                list-style-type: none;
                                display: flex;
                                flex-direction: column;
                                
                                
                                button {
                                    display: flex;
                                    justify-content: space-between;
                                    background-color: white;
                                    font-size: 12px;
                                    padding: 10px 15px 10px 15px;
                                    border: 0;
                                    border-bottom: 1px solid #ccc;
                                    width: 100%;
                                    text-align: center;
                                    align-items: center;
                                    border-left: 1px solid #ccc;
                                    border-right: 1px solid #ccc;
                            
                                    &:hover, &:focus {
                                      cursor: pointer;
                                      background-color: #ccc;
                                    }}
                            }
                        }
                    }
                }
            }

            .content{
                margin: 20px 0px;

                .slider{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .left-arrow{
                        position: absolute;
                        top: 50%;
                        left: 32px;
                        font-size: 3rem;
                        color: #000;
                        z-index: 10;
                        cursor: pointer;
                        user-select: none;
                    }

                    .right-arrow{
                        position: absolute;
                        top: 50%;
                        right: 32px;
                        font-size: 3rem;
                        color: #000;
                        z-index: 10;
                        cursor: pointer;
                        user-select: none;
                    }

                    img{
                        width: 100%;
                        max-height: 500px;
                        object-fit: cover;
                        margin-top: 5px;
                    }
                    .slide {
                        opacity: 0;
                        transition-duration: 1s ease;
                    }
                      
                    .slide.active {
                        opacity: 1;
                        transition-duration: 1s;
                        transform: scale(1);
                    }
                    
                }
                
            }

            .info{
                display: flex;
                align-items: center;
                gap: 20px;

                .item{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }
    }
}