@import "../../style.scss";

.profile {
    @include themify($themes) {
        background-color: themed("bgSoft");

        .images {
            width: 100%;
            height: 300px;
            position: relative;

            .cover {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .profile-image-container {
                display: flex;
                align-items: center;
                justify-content: center;

                .profile-picture-before,
                .profile-picture-after {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 200px;
                    //opacity: 0;
                }

                .upload-image-btn {
                    width: 180px;
                    display: none;
                }

                .upload-image-icon {
                    margin-top: -20px;
                    opacity: 0;
                    z-index: 1;
                }
            }

            .profile-image-container:hover {
                .profilePic {
                    opacity: 0.9;
                }

                .upload-image-icon {
                    color: white;
                    opacity: 1;


                }

            }

        }

        .profileContainer {
            padding: 20px 30px;

            .userInfo {
                height: 180px;
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.39);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.39);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.39);
                border-radius: 20px;
                background-color: themed("bg");
                color: themed("textColor");
                padding: 50px;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }

            .left {
                flex: 1;
                display: flex;
                gap: 10px;

                a {
                    color: themed('logo');;
                }
            }

            .center {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .name {
                    display: flex;
                    gap: 10px;

                    span {
                        font-size: 30px;
                        font-weight: 500;
                    }

                    input {
                        font-family: 'Josefin Sans', sans-serif;
                        ;
                        font-size: 30px;
                        font-weight: 500;
                        width: 200px;
                        border: none;
                    }

                }

                .info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .item {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: themed("textColorSoft");

                        input {
                            font-family: 'Josefin Sans', sans-serif;
                            ;
                            font-size: 12px;
                            border: none;
                            padding: 0;
                        }


                    }

                }

                button {
                    border: 1px solid themed("logo");
                    border-radius: 20px;
                    background-color: themed("logo");
                    padding: 10px 25px;
                    color: themed("bg");
                    font-size: 15px;
                }
            }

            .right {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 10px;
            }
        }

        .container-post {
            padding: 20px 30px;
        }
    }
}