@import "../../style.scss";

.not-friend-page,
.not-exist-page {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        padding: 60px;
        text-align: center;
        align-items: center;
        gap: 30px;

        .notification {
            font-size: 36px;
        }

        .back-container {
            width: 80px;
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: themed("logo");
            color: themed("bg");
            border: none;
            border-radius: 20px;
            padding: 20px 30px;
            cursor: pointer;
        }

        .back-container:hover {
            filter: brightness(90%);
        }


        .back-container:active {
            filter: brightness(80%);
        }
    }

}

.profile {
    @include themify($themes) {
        background-color: themed("bgSoft");

        .images {
            width: 100%;
            height: 300px;
            position: relative;

            .cover {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .profile-image-container {
                display: flex;
                align-items: center;
                justify-content: center;

                .profile-picture-before,
                .profile-picture-after {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 200px;
                    //opacity: 0;
                }

                .upload-image-btn {
                    width: 180px;
                    display: none;
                }

                .upload-image-icon {
                    margin-top: -20px;
                    opacity: 0;
                    z-index: 1;
                }
            }

            .profile-image-container:hover {
                .profilePic {
                    opacity: 0.9;
                }

                .upload-image-icon {
                    color: white;
                    opacity: 1;


                }

            }

        }

        .profileContainer {
            padding: 20px 30px;

            .userInfo {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.39);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.39);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.39);
                border-radius: 20px;
                background-color: themed("bg");
                color: themed("textColor");
                padding: 20px 50px;

                display: flex;

                justify-content: space-around;

                .center {
                    display: flex;
                    margin-top: 80px;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    .social-link {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;

                        .social-button {
                            width: 130px;
                            background-color: themed("logo");
                            color: themed("bg");
                            border: none;
                            padding: 16px 10px;
                            border-radius: 20px;
                            font-size: 18px;
                        }

                        .social-button:hover {
                            filter: brightness(90%);
                        }

                        .social-button:active {
                            filter: brightness(80%);
                        }

                        .list-item {
                            list-style-type: none;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: 5px;
                            gap: 10px;

                            .link-container {
                                display: flex;
                                flex-direction: row;
                                gap: 5px;
                                padding: 10px;
                                border-radius: 10px;
                                background-color: themed("bgSoft");

                                a {
                                    font-size: 20px;
                                    text-decoration: none;
                                }

                                .logo {
                                    color: themed("logo");
                                }
                            }

                            .remove-container {
                                display: flex;
                                flex-direction: row;

                                .logo {
                                    color: themed("logo");
                                    cursor: pointer;
                                }

                                .tool-tip {
                                    margin-left: 28px;
                                    position: absolute;
                                    font-size: 12px;
                                    padding: 6px 4px;
                                    background-color: themed("textColorSoft");
                                    color: themed("bg");
                                    border-radius: 4px;
                                    opacity: 0;
                                    transition: opacity 0.15s;
                                }

                                .logo:hover+.tool-tip {
                                    opacity: 1;
                                }
                            }


                        }

                        a {
                            color: themed('logo');
                        }
                    }

                    .name {
                        display: flex;
                        gap: 10px;

                        span {
                            font-size: 30px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .container-post {
            padding: 20px 30px;
        }
    }
}