@import "../../style.scss";

.share {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;

    .container {
      padding: 20px;
      .top {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        input{
          border: none;
          outline: none;
          padding: 20px 10px;
          background-color: transparent;
          width: 90%;
          color: themed("textColor");

        }

        textarea {
          border: none;
          outline: none;
          padding: 20px 10px;
          background-color: transparent;
          width: 90%;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 14px;
          color: themed("textColor");
          overflow-wrap: break-word;
          overflow: hidden;
          resize: none;
        }
      }

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          gap: 20px;

          .item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 8px;
            border-radius: 8px;
            cursor: pointer;

            img {
              height: 20px;
            }

            span {
              font-size: 12px;
              color: gray;
            }
          }

          .item:hover{
            background-color: themed("hovercomment");
          }
        }
        .right {
          button {
            border: none;
            padding: 12px 10px;
            color: themed("bg");
            cursor: pointer;
            
            background-color: themed("logo");
            border-radius: 16px;
          }

          button:hover{
            filter:brightness(90%)
          }

          button:active{
            filter:brightness(80%)
          }
        }
      }

      .imageContainerPreview {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
      
        .imagePreview {
          position: relative;
      
          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 5px;
          }
          .remove-container{
            display: flex;
            justify-content: center;
            align-items: center;
            
            button {
              position: absolute;
              top: 5px;
              right: 5px;
              border: none;
              background-color: themed("logo"); /* Customize the color as needed */
              color: themed("bg");
              padding: 5px 9px;
              cursor: pointer;
              border-radius: 50%;
            }

            .tool-tip{
              // visibility: hidden;
              position: absolute;
              z-index: 1;
              top: 35%;
              margin-left: 50px;
              font-size: 8px;
              padding: 6px 4px;
              background-color: themed("textColorSoft");
              color: themed("bg");
              border-radius: 4px;
              opacity: 0;
              transition: opacity 0.15s;
            }

            button:hover + .tool-tip{
              opacity: 1;
              
            }
            
            button:hover{
              filter:brightness(90%)
            }
          }
          
        }
      }      
    }
  }
}