@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lily+Script+One&display=swap');
@import "../../style.scss";

.leftBar {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}


.leftBar {
    @include themify($themes) {
        flex: 2;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        background-color: themed("bg");
        color: themed("textColor");

        .container {
            padding: 20px;

            .menu {
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                    text-decoration: none;
                    color: themed("textColor");
                }

                .item {
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    padding: 10px;
                    gap: 8px;
                    font-size: 25px;

                    span {
                        display: inline-block;
                        margin: 0;
                        padding-top: 5px;
                        color: themed("textColor");
                    }

                    .logo {
                        color: themed("textColor");
                    }
                }

                .item:hover{
                    background-color: themed("hovercomment");
                }


            }

            .button-container {
                text-align: center;
                margin-top: 40px;

                button {
                    background-color: themed("logo");
                    color: themed("bg");
                    border: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                    width: 150px;
                    padding: 15px 25px;
                    cursor: pointer;

                }
                button:hover{
                    filter: brightness(90%);
                }
                button:active{
                    filter:brightness(80%);
                }

            }

            .user {
                margin-top: 20px;
                display: flex;
                position: absolute;
                bottom: 0;
                margin-bottom: 20px;
                align-items: center;
                flex-direction: row;
                padding: 10px 80px 10px 20px;
                border-radius: 20px;
                gap: 10px;
                font-weight: 700;
                cursor: pointer;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .user-info {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    gap: 5px;

                    .user-name {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .user-email {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
            .user:hover{                    
                background-color: themed("hovercomment");
            }
        }
    }
}