@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lily+Script+One&display=swap');
@import "../../style.scss";

.change-password-page{
    text-align: center;
    label{
        display: block;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;

        

        button{
            align-items: center;
            width: 150px;
            padding: 20px;
        }
    }
}